*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
}



.center{
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 2%;
    display: flex;
}



header{
    width: 100%;
    background-image: -webkit-linear-gradient(45deg, black, grey);
    padding: 15px 5px;
    border-bottom: 1px solid grey;
    z-index: 9999;
    position: fixed;
    left: 0;
    top: 0;
    display: inline;
}

.menu{
    width: 80%;
    text-align: center;
    padding-top:1.5em; 
    display: flex;
    width: 800px;
    color: whitesmoke;
}


.menu a{
    padding: 2vh;
    color: #faf5f0;
    font-size: 20px;
    text-decoration: none;
    margin-right: 20px;
    display: inline-block;
    background-color: #55a0f0;
    border: #55a0f0;
    border-radius: 5px;
    text-align: center;
}

.menu a:hover{
    color: #007bff;
}

h1{
    font-size: 45px;

}

section.main{
    display: flex;
    margin-top: 100px;
    background-color: lightgray;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 70px 50px;
    background-position: center;  

}

h2{
    color: #020105;
}

h3{
    color: whitesmoke;
}

input{
    width: 450px;
    padding: 1vh;
    border-radius: 5px;
    border: none;
}

.botao-add{
    padding: 1vh;
    background-color: #55a0f0;
    border: #55a0f0;
    border-radius: 5px;
    color: #faf5f0;
    width: 175px;
}

.botao-add:hover{
    color: #007bff;
}

.botao-del{
    padding: 1vh;
    background-color: #55a0f0;
    border: #55a0f0;
    border-radius: 5px;
    color: #faf5f0;
    float: left;
    margin-top: 20px;
}

.botao-del:hover{
    color: #007bff;
}

button{
    float: right;
    border: none;
}


.del-check{
    padding: 1vh;
    background-color: #55a0f0;
    border: #55a0f0;
    border-radius: 5px;
    color: #faf5f0;
}

.del-check:hover{
    color: #007bff;
}


.lista1{
    font-size: 20px;
}

p{
    display: inline-block;
}

li{
    color: rgb(233, 192, 10);

}

hr{
    border: 1px solid black;
    border-radius: 5px;
    width: 100%;
    text-align: center;
}

.columns{
    flex: 1;
    flex-wrap: wrap;
}

.lista-box{
    width: 750px;
    background-color: grey;
    padding: 50px 50px;
    margin-right: 3%;
    box-shadow: 7px 7px 2px rgb(70, 69, 69);
    border-radius: 5px;
}

.listados{
    display: flex;
}


input[type=checkbox]{
   width: 25px;
   float: center;
   height: 15px;
   margin: 5px;
}

input[type=checkbox]:checked ~.divmon{
    text-decoration: line-through;
 }

.total-prod{
    padding: 100px 100px;
    flex: 2;
    width: 75%;
}

.total-prod p{
    font-size: 21px;
}

.total-prod input{
    width: 100px;
    background-color: lightgray;
}

.modalId{
    display: none;
    background-color: rgba(0,0,0, .5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.modalId .modal{
    animation: modal .3s;
}

.popup{
    font-family: arial;
    text-align: center;
    width: 100%;
    max-width: 500px;
    margin: 20% auto;
    padding: 40px 20px 40px;
    background: white;
    position: relative;
    border-radius: 10px;
}

.popup-close{
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
}

footer{
    background-image: -webkit-linear-gradient(45deg, black, grey);
    color: whitesmoke;
    padding-bottom: 8%; 
}

.valor-pago{
    border: 1px solid black;
}

.popup-content h2{
    position: absolute;
    top: 7px;
    left: 10%;
    font-size: 22px;  
}

.ok-dok{
    width: 45%;
    position: absolute;
    bottom: 5px;
    left: 25%;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 10px;
    background-color: grey;
    font-size: 20px;
}

@media only screen and (max-width: 1000px) {
    .center {
    margin: 0 auto;
    padding: 0 2%;
     display: inline;
    }
    .popup{
        font-family: arial;
        text-align: center;
        width: 100%;
        max-width: 500px;
        margin: 20% auto;
        padding: 40px 20px 40px;
        background: white;
        position: relative;
        border-radius: 10px;
    }
    
  }

  @media only screen and (max-width: 800px) {
    .main-box{
    width: auto;
    margin: 0 auto;
    padding: 50px 50px;
     display: inline;
    }
    .lista1{
        width: auto;
        display: flex;
    }    
    .popup{
        font-family: arial;
        text-align: center;
        width: 100%;
        max-width: 500px;
        margin: 50% auto;
        padding: 40px 20px 40px;
        background: white;
        position: relative;
        border-radius: 10px;
    }
}
  
@keyframes modal{
    from{
        opacity: 0;
        transform: translate3d(0, -60px, 0);
    }
    to{
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}